<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day14_cookie_session</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Demo1</display-name>
    <servlet-name>Demo1</servlet-name>
    <servlet-class>com.lixinxin.web.cookie.Demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo2</display-name>
    <servlet-name>Demo2</servlet-name>
    <servlet-class>com.lixinxin.web.cookie.Demo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo2</servlet-name>
    <url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo3</display-name>
    <servlet-name>Demo3</servlet-name>
    <servlet-class>com.lixinxin.web.cookie.Demo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo3</servlet-name>
    <url-pattern>/demo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LaTimeServlet</display-name>
    <servlet-name>LaTimeServlet</servlet-name>
    <servlet-class>com.lxx.web.LaTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaTimeServlet</servlet-name>
    <url-pattern>/laTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demos1</display-name>
    <servlet-name>Demos1</servlet-name>
    <servlet-class>com.lixinxin.web.session.Demos1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demos1</servlet-name>
    <url-pattern>/demos1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demos2</display-name>
    <servlet-name>Demos2</servlet-name>
    <servlet-class>com.lixinxin.web.session.Demos2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demos2</servlet-name>
    <url-pattern>/demos2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demos3</display-name>
    <servlet-name>Demos3</servlet-name>
    <servlet-class>com.lixinxin.web.session.Demos3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demos3</servlet-name>
    <url-pattern>/demos3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LongerServlet</display-name>
    <servlet-name>LongerServlet</servlet-name>
    <servlet-class>com.lxx.web.LongerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LongerServlet</servlet-name>
    <url-pattern>/longerServlet</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>TestLonger</display-name>
    <servlet-name>TestLonger</servlet-name>
    <servlet-class>com.lxx.web.TestLonger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestLonger</servlet-name>
    <url-pattern>/testLonger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.lxx.web.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.lxx.web.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImgServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>